/* base page */

.nabar-align {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* index page */

.backgorund-image {
    position: fixed;
    width: 100%;
    padding: 0px;
    background-image: url("../images/food-3-small.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

h1,
h2,
h3,
h4,
h5 {
    text-decoration: underline;
}

.title {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 100px;
}

.main-title {
    color: #928f8f;
    text-align: center;
    margin-top: 200px;
}

/*-- share recipe page --*/

.btn {
    margin-left: auto;
    margin-right: auto;
}

/*-- contact page stuff --*/

.form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.form-group {
    margin-top: 20px;
}

/*-- find recipe page --*/

.recipe-display {
    display: inline-block;
    border: solid 1px black;
    width: 40%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: 300px;
    overflow: auto;
}

.dropdown-menu {
    height: 300px;
    overflow: auto;
}

/*-- other bits --*/

.buttons {
    margin-left: auto;
    margin-right: auto;
}

.span {
    font-weight: bolder;
    text-decoration: underline;
}

/*-- media queries --*/

@media only screen and (max-width: 600px) {
    .recipe-display {
        display: block;
        border: solid 1px black;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
