{% extends 'base.html' %} {% block content %}

<h4 class="main-title-two" align="center">All Recipes!</h4>

{% for recipePage in recipePage %}

<div class="recipe-display">
  <h3 class="main-title-two" align="center">{{ recipePage.title }}</h3>
  <p><span style="font-weight: bolder" class="span">Country-{{ recipePage.origin }}</span>
    <p>
      <p><span style="font-weight: bolder" class="span">Category-{{ recipePage.category }}</span>
        <p>
          <p><span style="font-weight: bolder" class="span">dietary_requirements-</span>{{ recipePage.dietary_requirements }}</p>
          <p><span style="font-weight: bolder" class="span">vegetarian_friendly-</span>{{ recipePage.vegetarian_friendly }}</p>
          <p><span style="font-weight: bolder" class="span">vegan_friendly-</span>{{ recipePage.vegan_friendly }}</p>
          <p><span style="font-weight: bolder" class="span">ingredients-</span>{{ recipePage.ingredients }}</p>
          <p><span style="font-weight: bolder" class="span">instructions-</span>{{ recipePage.instructions }}</p>
          <div class="button-container">
            <button type="button" class="btn btn-outline-success"><a href="{{ url_for ('print_recipe', recipePage_id=recipePage._id) }}"><i class="fas fa-print"></i></a></button>
          </div>
          <div class="button-container">
            <button type="button" class="btn btn-success"><a href="{{ url_for ('edit_recipe', recipePage_id=recipePage._id) }}">Edit</a></button>
          </div>
          <div class="button-container">
            <button type="button" class="btn btn-danger"><a href="{{ url_for ('delete_recipe', recipePage_id=recipePage._id) }}"></a>Delete</button>
          </div>
</div>

{% endfor %} {% endblock %}
